{% extends "base.html" %}



{% block content %}
        <ul>
            {% for id,todo,status,user in nathan_todo %}
                <li>
                    {{ todo }}
                    <form style="display:inline; " action="delete/{{ todo | urlencode }}" method="POST">
                    <button>delete</button>
                </form>
                </li>


            {% endfor %}

            </ul>

         <form style="text-align: center;" action="/save" method="post">
            <input type="text" name="inputfromhtml">
            <button>submit</button>
         </form>   


{% endblock %}
